[Desktop Entry]
Version=1.0
Name=Book For Sport Dashboard
GenericName=Book For Sport Dashboard
Comment=A Book My Turf App that does everything
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;