[Desktop Entry]
Version=1.0
Name=Book My Turf Dashboard
GenericName=Book My Turf Dashboard
Comment=A Book My Turf App that does everything
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;